<html>
    <head>
        <%- include('./partials/head.ejs' , {title : "index" }) %>
    </head>

    <body>

        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Welcome</h1>

                <p>Please <a href='/user/login'>login</a> </p>


            </div>
        </main>



        <%- include('./partials/footer.ejs') %>
    </body>


</html>